@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
}
#title{
    float: left;
    padding: 15px;
    left: 0;
}
#rules{
    padding: 15px;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 0;
    border:8px solid #0e0e0e;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.dark {
    background-color: rgb(206, 251, 244);
}

.light {
    background-color: #eed2e6;
}

.piece {
    cursor: pointer;
}
.selected {
    background-color: yellow;
}
